@import "tailwindcss";

@theme {
  --color-primary-dark: #8e684f;
  /* Tom marrom principal */
  --color-primary-light: #a67f64;
  /* Tom marrom claro */
  --color-background-offwhite: #FAFAFA;
  --color-background-sand: #F5F1E8;
  --color-text-charcoal: #333333;
  --color-text-light: #555555;

  --font-sans: 'Inter', 'DM Sans', sans-serif;
  --font-serif: 'Playfair Display', 'Lora', serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-[var(--color-background-offwhite)] text-[var(--color-text-charcoal)] font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-sm;
  }

  .glass-dark {
    @apply bg-black/70 backdrop-blur-md border border-white/10;
  }

  .text-balance {
    text-wrap: balance;
  }
}